version: 2.1

commands:
  define_version:
    description: Define env var VERSION based on an optional git tag or the git branch name
    steps:
      - run:
          name: Define VERSION environment variable
          command: |
            CIRCLE_BRANCH_CLEAN=$(echo ${CIRCLE_BRANCH} | sed "s;/;-;ig")

            if [ -n "${CIRCLE_TAG}" ]; then VERSION=${CIRCLE_TAG}; else VERSION="${CIRCLE_BRANCH_CLEAN}@${CIRCLE_SHA1:0:6}"; fi

            echo "export VERSION=$VERSION" >> $BASH_ENV

  print_version:
    description: Print the current VERSION
    steps:
      - run:
          name: Print version
          command: |
            echo "VERSION: $VERSION"
            
  create_version_file:
    description: Create a file which contains the current version
    parameters:
      version_file_path:
        type: string
        description: The path to the newly created version file
        default: /bioconductor-ci-validator/VERSION
    steps:
      - run:
          name: Create version file
          command: |
            echo $VERSION > << parameters.version_file_path >>
      - run:
          name: Check version file
          command: |
            cat << parameters.version_file_path >>

  add_versionfile:
    description: add verssion. file to repo
    steps:
      - run:
          name: print version
          command: |
            git status
            git branch
            

jobs:  
  build:
    working_directory: /bioconductor-ci-validator
    docker:
      - image: bioconductor/bioconductor_docker:devel
    steps:
      - define_version
      - print_version
      - checkout
      - create_version_file
      - add_versionfile
      - run:
          name: check r installation
          command: R --version
      - run:
          name: build and check bioconductor packages
          no_output_timeout: 50m
          command: bash build.sh
