version: 2
jobs:
  build:
    working_directory: /bioconductor-ci-validator
    docker:
      - image: bioconductor/bioconductor_docker:devel
    steps:
      - checkout
      - run:
          name: check installation
          command: R --version
      - run:
          name: Install texlive
          command: 'apt update && apt install texlive texlive-xetex texlive-fonts-extra texlive-latex-extra'
      - run:
          name: build and check Bioconductor packages
          no_output_timeout: 20m
          command: bash build.sh
