version: 2

jobs:  
  build:
    working_directory: /bioconductor-ci-validator
    docker:
      - image: bioconductor/bioconductor_docker:devel
    steps:
      - checkout
      - run:
          name: check r installation
          command: R --version
      - run:
          name: build and check bioconductor packages
          no_output_timeout: 50m
          command: bash build.sh
