version: 2
jobs:
  build:
    working_directory: /bioconductor-ci-validator
    docker:
      - image: bioconductor/bioconductor_docker:devel
    steps:
      - checkout
      - run:
          name: check installation
          command: R --version
      - run:
          name: print installed packages
          command: R -e 'ip = as.data.frame(installed.packages()[,c(1,3:4)]); ip = ip[is.na(ip$Priority),1:2,drop=FALSE]; ip'
      - run:
          name: build and check Bioconductor packages
          no_output_timeout: 50m
          command: bash build.sh
